.upcoming__container {
  color: white;
  text-align: center;
  position: relative;
  /* bottom: 100px; */
  font-family: monospace;
}
.upcoming__container p {
  font-size: 15px;
}
.upcoming__container img {
  height: 100px;
}
.bold {
  font-weight: 900;
}
.underline {
  text-decoration: underline;
}
.upcoming___show-container {
  padding: 20px;
  color: white;
}
.split__2022 {
  width: 45%;
}
.long-banner-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.long-banner-div:hover{
  background-color: red;
}
.upcoming___show-container:hover {
  background-color: red;
  cursor: pointer;
  padding: 20px;
}
.twentyTwo-shows {
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 100px;
}
.upcoming__show-text {
  text-decoration: none;
}

@media (max-width: 450px) {
  .upcoming__container img{
  height: auto;
  width: 100%;
  }
  .long-banner-div{
    flex-direction: column;
  }
  .twentyTwo-shows {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
  }
}
/* @media (max-width: 1300px) {
  .upcoming__container {
    bottom: 0;
  }
}
@media (max-width: 450px) {
  .twentyTwo-shows {
    flex-direction: column;
    align-content: center;
  }
} */
