.home__container {
  background-color: black;
  /* min-height: 120vh; */
  /* text-align: -webkit-center; */
}

.home__carousel-holder {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 850px;
  box-shadow: 0;
  animation: mymove;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  height: 500px;
}
@keyframes mymove {
  from {
    box-shadow: 0;
  }
  to {
    box-shadow: 0 4px 14px 0 white;
  }
}
.home__carousel-holder:hover {
  box-shadow: 0 4px 14px 0 red;
  /* box-shadow: 0 4px 14px 0 white; */
  /* box-shadow: 60px -16px teal; */
  /* box-shadow: 12px 12px 2px 1px red; */
}

.home__split {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
}
.home__upcoming-gigs {
  margin-bottom: 50px;
}

@media (max-width: 1300px) {
  .home__split {
    flex-direction: column;
    align-items: center;
    /* top: 0px; */
    top: 5px;
  }
  .home__container {
    text-align: -webkit-center;
  }
  .home__carousel-holder {
    display: flex;
    justify-content: center;
    text-align: center;
    /* box-shadow: 0 4px 14px 0 white; */
    /* width: 500px; */
    /* height: 300px; */
    width: 100vw;
    /* width: 500px; */
    /* width: 500px; */
    height: auto;
  }
}

@media (max-width: 900px) {
  .home__carousel-holder {
    /* width: 500px; */
    width: 100vw;
    height: auto;
  }
  .home__split {
    flex-direction: column;
    align-items: center;
    top: -40px;
  }
  .home__container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .home__carousel-holder {
    /* width: 300px;
    height: 170px; */
    width: 100vw;
    height: auto;
  }
}
