.carousel {
  /* width: 800px; */
  width: 100%;
  height: auto;
}
.carousel__image {
  height: 500px;
  width: 500px;
}

@media (max-width: 1300px) {
  .carousel {
    width: 500px;
  }
  .carousel__image {
    /* height: 500px; */
    /* width: 500px; */
    width: 100%;
    height: 300px;
    /* height: 100%; */
  }
}

@media (max-width: 900px) {
  .carousel__image {
    height: 300px;
  }
  .carousel {
    max-width: 100vw;
  }
}
@media (max-width: 500px) {
  .carousel__image {
    height: 170px;
  }
}
