.carousel {
  /* width: 800px; */
  width: 100%;
  /* height: auto; */
  /* max-height: 500px; */
  /* min-height: 300px; */
  /* background-color: aliceblue; */
}
.carousel__image {
  /* height: 500px; */
  /* width: 500px; */
  /* object-fit: fill; */
  position: relative;
  bottom: 1px;
}

/* @media (max-width: 1300px) {
  .carousel {
    width: 500px;
  }
  .carousel__image {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 900px) {
  .carousel__image {
    height: 300px;
  }
  .carousel {
    max-width: 100vw;
  }
}
@media (max-width: 500px) {
  .carousel__image {
    height: 170px;
  }
} */
