.carousel {
  width: 100%;
}
.carousel__image {
  position: relative;
  bottom: 1px;
}

@media (max-width: 500px) {
  .carousel {
    height: 170px;
    width: auto;
  }
  .carousel__image {
    height: 170px;
  }
}
