.footer__container {
  /* background-color: #151515; */
  background-color: black;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
.footer_copywrite {
  color: gray;
}
.footer__social-icons {
  height: 80%;
  position: relative;
  top: 5px;
}
